#navlist{

    max-width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    padding: 15px;
  
}

nav{
    max-width: 100%;
    padding-right: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    min-height: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
  background-color: #E7F2F8;
  
}
.navbar{
    max-width: 100vw;
background-color: #102aeb;
background-image: linear-gradient(160deg, #1024bf 0%, #058894 100%);
    min-height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#logo{
    font-size: clamp(1.5rem,3vw,4rem);
    color: white;
}

div a{
    text-decoration: none;
    color: white;
}

#navitem{
    display: flex;
    gap: 2em;
    font-size: clamp(1.6rem,3vw,3rem);
  
}

.footerbox{
    background-color: #071cbe;
    background-image: linear-gradient(160deg, #02128f 0%, #058692 100%);
    width: 100%;
    text-align: center;
    min-height: 50px;
    margin-top: 0.5rem;

}

.footerbox p{
    color: azure;
    font-size: 2rem;

}

.contentbox{
max-width: 70%;
    margin: auto;
    background-color: rgb(235, 222, 233);
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 1em 2em 0em;
    box-shadow: 0px 0px 30px black;
    position: relative;
    overflow: hidden;
}

.item{
    display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 0 3em;

}


.rightbox{
    position:relative ;
    overflow: hidden;
    box-shadow:1px 1px 8px black ;
    border-radius: 20px ;

}

.rightbox img{
    min-height: 280px;
    width: 220px;
    border-radius: 20px;
}


.rightbox:hover{
    transition: all 0.6s linear 0s;
    transform: scale(1.2);
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftbox h2{
    font-size: 2rem;
    color:rgb(11, 1, 36);
}

.ingbox {
    font-size: 1.4rem;
}


.recipebox ol{
    font-size: clamp(1rem,2vw,1.5rem);
}

.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: all 0.3s linear 0s;
}


.rightbox:hover .overlay{
    opacity: 1;
}

.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}
ul {
    font-size: clamp(1.3rem,2vw,1.2rem);
}
ol{
    font-size: clamp(1.3rem,2vw,1.4rem);
}

@media (max-width:1157px) {
    .item{
        display: flex;
        padding: 0 3em;
        gap: 2em;
        flex-direction: column-reverse;
        margin-top: 1rem;
      
    }
}

@media (max-width:465px)
{
    #navitem{
        gap:1.2rem; 
    }

}




